@import url(https://fonts.google.com/specimen/Tilt+Warp);
@import url(https://fonts.google.com/specimen/Open+Sans);
h1 { 
    border: 2px initial;
    color: rgb(0, 136, 255);
    font-family: "Tilt War", Courier;
}
h3{
   
    color: aliceblue;
    font-family: "Open Sans", Courier;
    font-size: 50px;
}
li{
    
    border: 4px inset;
    
}